*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
    font-family: Roboto;
    font-style: normal;
}
.squear{
    display: flex;
    width: 260px;
    height: 260px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 12px;
   
}
.top_price{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    
    white-space: nowrap;
    
}
.label1{
    background: #8D58E3;
    border-radius: 3px;  
    width: 105px;
    margin-bottom: 5px;
   
}
.label2{
    background: #E95471;
    border-radius: 3px;
    width: 95px;
    
   
}
.feed{
    position: relative;
    z-index: 1;
    width: 200px;
    height: 200px;
    left: 30px;
    top: 30px;
    mix-blend-mode: normal;
 }
.icon{
  position: relative;
width: 40px;
height: 40px;
left: calc(10% - 40px/1 + 51px);
top: 230px;

background: url('../img/Pet.png');
}
.text{
    position: relative;
height: 16px;
left: 0px;
right: 0px;
top: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #202454;
}
.stars{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
margin-top: 25px;
width: 14px;
height: 14px;

}
.sale_vector{
    position: relative;
    margin-top: 5px;
}
.vector{
    position: relative;
    background: #E95471;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-bottom: -20px;
}
.sale{
    position: relative;
left: 24px;

    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #7B94B0;
}
.price_item{
    position: relative;
    margin-top: 6px;
    font-size: 13px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #7B94B0;
}
.price_item2{
    margin-top: -22px;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #202454;
    left: 50px;
}

.elipce{
    position:absolute;
    width: 48px;
    height: 48px;
   left: 200px; 
    bottom: -25px;
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(84, 143, 199, 0.15);
}
.basket{
    position: relative;
    width: 21px;
height: 20px;
right: -13px;
bottom: -15px;

}
